extends poll_dialog
block content
  script.
    var jwt="#{jwt}"
    var pollId="#{question.id}"
  h4= question.question
  table#options_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    tbody
      each v in question.votes
        tr
          td
            strong= v.optionText
          td= `${v.votes} votes (${v.pct}%)`
