extends poll_dialog
block content
  script.
    var jwt="#{jwt}"
    var pollId="#{question.id}"
  h4= question.question
  table#options_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    tbody
      each o in question.options
        if question.question_type_id === 1
          +row_single(o)
        else
          +row_multiple(o)
  p
    a(href=`/poll/${question.id}/results?signed_request=${jwt}`) View results

mixin row_single(option)
  tr.choice_row(onclick="selectRowRadio(this);")
    td.choice_cell
      label.option-label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for=`option-${option.id}`)
        input.mdl-radio__button(id=`option-${option.id}` type="radio" name="options" value=`${option.id}`)
    td.text_cell
      span= option.option

mixin row_multiple(option)
  tr.choice_row(onclick="selectRowCheck(this);")
    td.choice_cell
      label.option-label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for=`option-${option.id}`)
        input.mdl-checkbox__input(id=`option-${option.id}` type="radio" name="options" value=`${option.id}`)
    td.text_cell
      span= option.option